.logo
{Font family: Raleway
    Font style: Bold
    Font size: 26px
    Line height: 31px
    Line height: 100%
    Align: Left
    Vertical align: Top
    Letter spacing: 0, 003
    color; blue 2196F3
    Effect: Drop shadow
    Radius: 4px
    Offset: 0px, 4px
    rgba(0, 0, 0, 0.25)}
    
.logo2
{Font family: Raleway
    Font style: Bold
    Font size: 26px
    Line height: 31px
    Line height: 100%
    Align: Left
    Vertical align: Top
    Letter spacing: 0,003
        color; black 000000
        Effect: Drop shadow
        Radius: 4px
        Offset: 0px, 4px
        rgba(0, 0, 0, 0.25)}