:root {
  font-family: "Roboto" sans-serif;
}
.logo {
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 31px;
  line-height: 100%;
  vertical-align: top;
  letter-spacing: 0, 003;
  color: blue 2196F3;
  offset: 0px, 4px;
}

.logo2 {
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 31px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 0, 003;
  color: black 000000;
  offset: 0px, 4px;
}
.agencja {
  color: #2196f3;
}
.number {
  color: #757575;
}
